/* DASHBOARD */

.dashboard {
  padding: 22px;
}

.dashboard > h1 {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.dashboard > h2 {
  color: var(--text-light, #abbbc2);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.dashboard-line {
  border: 1px solid #393c49;
  width: 980px;
  margin-top: 24px;
}

/* DASHBOARD-TOTAL */



.totals {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.total {
  width: 239px;
  padding: 16px 36px;
  border-radius: 8px;
  background: var(--base-dark-bg-2, #1f1d2b);
}

.total-statics {
  display: flex;
  align-items: center;
  gap: 20px;
}

.total-statics > p {
  color: var(--accents-green, #50d1aa);
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.total-price {
  padding-top: 8px;
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.total-text {
  color: var(--text-light, #abbbc2);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

/* DASHBOARD-ORDER */

.order {
  border-radius: 8px;
  background: var(--base-dark-bg-2, #1f1d2b);
  margin-top: 24px;
  padding: 24px;
}

.filter > p {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter > button {
  border-radius: 8px;
  border: 1px solid var(--base-dark-line, #393c49);
  background: var(--base-dark-bg-2, #1f1d2b);
  padding: 14px;
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.filter > button:hover {
  background-color: #393c49;
}

/* DASHBOARD-TABLE */

table {
  margin-top: 16px;
}

table > thead > tr > th {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

table > tbody > tr > td {
  color: var(--text-lighter, #e0e6e9);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 7px;
}

table > tbody > tr > td > button {
  border-radius: 30px;
  background: rgba(107, 226, 190, 0.24);
  color: var(--accents-green, #50d1aa);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border: 0;
  padding: 4px 12px;
  margin-left: 70px;
  cursor: pointer;
}

.btn1 {
  border-radius: 30px;
  background: rgba(146, 144, 254, 0.2);
  color: #9290fe;
}

.btn2 {
  border-radius: 30px;
  background: rgba(255, 181, 114, 0.2);
  color: #ffb572;
}

.try {
  display: flex;
  align-items: center;
  gap: 190px;
}

.try2 {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 140px;
}

.table-line {
  border: 1px solid #393c49;
  margin-top: 16px;
}

.table-scroll {
  overflow: auto;
  height: 265px;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.table-scroll::-webkit-scrollbar {
  width: 17px;
}

.table-scroll::-webkit-scrollbar-track {
  background: #252836;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #252836;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #1f1d2b;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #252836;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* DASHBOARD-TYPES */

.types {
  padding: 20px;
  width: 600px;
  cursor: pointer;
}

.ordered {
  width: 372px;
  height: 381px;
  background-color: #1f1d2b;
  border-radius: 8px;
}

.ordered > div {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.ordered > div > p {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-top: 34px;
}

.ordered-line {
  border: 1px solid #393c49;
  width: 322px;
  margin: 0 24px;
}

.spicy {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.spicy > img {
  width: 50px;
  height: 50px;
}

.spicy > div {
  padding-right: 50px;
}

.spicy > div > h5 {
  color: var(--text-lighter, #e0e6e9);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.spicy > div > h6 {
  color: var(--text-light, #abbbc2);
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.spicy-btn > button {
  width: 3220px;
  padding: 14px;
  margin-top: 24px;
  background-color: inherit;
  border-radius: 8px;
  border: 1px solid var(--primary-color, #ea7c69);
  color: var(--primary-color, #ea7c69);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
}

.spicy-btn > button:hover{
  color: #fff;
  background-color: #ea7c69;
}

.ordered2 {
  width: 372px;
  background-color: #1f1d2b;
  border-radius: 8px;
  margin-top: 20px;
  padding-bottom: 18px;
}

.ordered2 > div {
  display: flex;
  gap: 50px;
  padding: 0 24px;
}

.ordered2 > div > p {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-top: 34px;
}

.circle {
  margin-top: 15px;
}

.circle-div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.circle-div > h3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ff7ca3;
}

.circle-count{
  padding: 30px 0;
}

.circle-div > h1 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffb572;
}

.circle-div > h4 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #65b0f6;
}

.circle-div > div > h1 {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.circle-div > div > h2 {
  color: var(--text-light, #abbbc2);
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.circle1 {
  border: 10px solid #65b0f6;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border-top-color: #393c49;
  transform: rotate(-44.5deg);
  position: relative;
}

.circle2 {
  border: 10px solid #ffb572;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top-color: #393c49;
  border-right-color: #393c49;
  transform: rotate(-135deg);
  position: absolute;
  right: 208px;
  top: 532px;
}

.circle3 {
  border: 10px solid #ff7ca3;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border-top-color: #393c49;
  transform: rotate(-45deg);
  position: absolute;
  top: 541.5px;
  right: 218px;
}

.circle4 {
  border: 10px solid #393c49;
  width: 109px;
  height: 109px;
  border-radius: 50%;
  transform: rotate(-45deg);
  position: absolute;
  top: 552px;
  right: 229px;
}
