/* SETTINGS */
.settings {
  padding: 24px;
}

.settings-title {
  color: var(--White, #fff);
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.settings-sidebar {
  width: 275px;
  border-radius: 8px;
  background-color: #1f1d2b;
  margin: 24px 0;
}

.settings-names > h1 {
  color: var(--White, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.settings-names > h2 {
  color: var(--text-light, #abbbc2);
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 5px;
}

.settings-menu > li > a {
  display: flex;
  gap: 10px;
}

.settings-menu > li {
  padding: 13px 24px;
}

.settings-names {
  padding-top: 20px;
}

.settings-names > .settings-name {
  color: var(--Primary-Color, #ea7c69);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.settings-name-bg {
  background: rgba(234, 124, 105, 0.26);
  position: relative;
}

.settings-name-bg > h6 {
  position: absolute;
  border: 3px solid #ea7c69;
  height: 40px;
  right: 0;
  top: 25px;
  border-radius: 8px;
}

/* PRODUCT */

.product {
  margin-top: 87px;
  margin-bottom: 24px;
  width: 100%;
  padding-right: 24px;
}

.product-managment {
  padding: 34px 24px 24px 24px;
  background-color: #1f1d2b;
  border-radius: 8px;
}

.filters > p {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters > button {
  border-radius: 8px;
  border: 1px solid var(--base-dark-line, #393c49);
  background: var(--base-dark-bg-2, #1f1d2b);
  padding: 14px;
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.filters > button:hover {
  background-color: #393c49;
}
