/* SETTINGS */
.settings {
  padding: 24px;
}

.settings-title {
  color: var(--White, #fff);
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.settings-sidebar {
  width: 275px;
  height: 630px;
  border-radius: 8px;
  background-color: #1f1d2b;
  margin-top: 22px;
}

.settings-names > h1 {
  color: var(--White, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.settings-names > h2 {
  color: var(--text-light, #abbbc2);
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 5px;
}

.settings-menu > li > a {
  display: flex;
  gap: 10px;
}

.settings-menu > li {
  padding: 13px 24px;
}

.settings-names {
  padding-top: 20px;
}

.settings-names > .settings-name {
  color: var(--Primary-Color, #ea7c69);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.settings-name-bg {
  background: rgba(234, 124, 105, 0.26);
  position: relative;
}

.settings-name-bg > h6 {
  position: absolute;
  border: 3px solid #ea7c69;
  height: 40px;
  right: 0;
  top: 25px;
  border-radius: 8px;
}

/* PRODUCT */

.product {
  margin-top: 87px;
  margin-bottom: 24px;
  width: 100%;
  padding-right: 24px;
}

.product-managment {
  padding: 34px 24px 0 24px;
  background-color: #1f1d2b;
  border-radius: 8px;
}

.filters > p {
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters > button {
  border-radius: 8px;
  border: 1px solid var(--base-dark-line, #393c49);
  background: var(--base-dark-bg-2, #1f1d2b);
  padding: 14px;
  color: var(--white, #fff);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.filters > button:hover {
  background-color: #393c49;
}

/* PRODUCT */

.product-add {
  padding-top: 24px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  cursor: pointer;
  overflow: auto;
  height: 400px;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.product-add::-webkit-scrollbar {
  width: 17px;
}

.product-add::-webkit-scrollbar-track {
  background: #252836;
}

.product-add::-webkit-scrollbar-thumb {
  background: #252836;
}

.product-add::-webkit-scrollbar-thumb {
  background: #1f1d2b;
}

.product-add::-webkit-scrollbar-thumb {
  background: #252836;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.product-add-card {
  width: 221px;
  height: 299px;
  border-radius: 8px;
  border: 1px dashed var(--Primary-Color, #ea7c69);
  background: var(--base-dark-bg-2, #1f1d2b);
  padding-top: 9%;
}

.product-add-card > h2 {
  color: var(--Primary-Color, #ea7c69);
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.product-add-card > h1 {
  color: var(--Primary-Color, #ea7c69);
  text-align: center;
  font-family: Barlow;
  font-size: 40px;
  font-style: normal;
  line-height: 140%;
  font-weight: 100;
}

.product-card {
  width: 221px;
  height: 299px;
  border-radius: 8px;
  border: 1px solid #393c49;
  padding-top: 22px;
}

.product-card > h1 {
  color: var(--White, #fff);
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  padding-top: 14px;
}

.product-card > h2 {
  color: var(--text-light, #abbbc2);
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.product-card > div {
  text-align: center;
}

.product-card > button {
  color: var(--Primary-Color, #ea7c69);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  width: 221px;
  height: 52px;
  background: rgba(234, 124, 105, 0.26);
  border: 0;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 18px;
}

.product-card > button > img {
  padding-right: 7px;
}

.product-change {
  padding: 17px;
}

#btn1 {
  width: 172px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid var(--Primary-Color, #ea7c69);
  background-color: inherit;
  color: var(--Primary-Color, #ea7c69);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
}

#btn2 {
  width: 172px;
  padding: 14px;
  border-radius: 8px;
  border: 0;
  color: var(--base-bg, #fafafa);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
  background-color: #ea7c69;
  margin-left: 8px;
}

#btn1:active {
  border: 0;
  color: var(--base-bg, #fafafa);
  background-color: #ea7c69;
}

#btn2:active {
  border: 1px solid var(--Primary-Color, #ea7c69);
  background-color: inherit;
  color: var(--Primary-Color, #ea7c69)
}
